@model IReadOnlyList<Web.Models.TelephoneSubscriber>

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-table.min.css">
  <link rel="stylesheet" href="/css/fontello.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
<div onclick="method2();">To PDF</div>
<div class="container" id="report">
  <div class="row">
    <div class="col12 report-title">Телефонные абоненты</div>
  </div>
  <div class="row">
    <div class="col12">
      <table data-toggle="table">
        <thead>
        <tr>
          <th data-sortable="true">Имя</th>
          <th data-sortable="true">Фамилия</th>
          <th data-sortable="true">Телефон</th>
          <th data-sortable="true">Адрес</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var telephoneSubscriber in Model)
        {
          <tr>
            <td>@telephoneSubscriber.FirstName</td>
            <td>@telephoneSubscriber.LastName</td>
            <td>@telephoneSubscriber.PhoneNumber</td>
            <td>@telephoneSubscriber.Address</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/html2canvas.min.js"></script>
<script src="/js/jspdf.umd.min.js"></script>
<script>
function method1() {
  const { jsPDF } = window.jspdf;
  const report = document.getElementById("report");
  html2canvas(report).then(canvas => {
  const imgData = canvas.toDataURL("image/png");
  const pdf = new jsPDF();
  const imgProps = pdf.getImageProperties(imgData);
  const pdfWidth = pdf.internal.pageSize.getWidth();
  const pdfHeight = (imgProps.height * pdfWidth) / imgProps.width;
  pdf.addImage(imgData, "PNG", 0, 0, pdfWidth, pdfHeight);
  pdf.save("Report.pdf");
  });
}

function method2() {
  window.print();
}
</script>
</body>
</html>